@import "guest";

.signup-container {
  width: 80%;
  margin: auto;
}
.raised.segment{
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  position: relative;
  background: rgba(230, 240, 255, 0.93) !important;
  border: 2px dashed transparent;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

.rf-footer{
  text-align: center;
}

.p-singup {
  margin: 3em auto 0!important;


  .logo {
    text-align: center;
    margin: 2em auto;
    color: #005f81
  }
  .dividing.header {
    color: #005f81;
    margin-top: 2em;
  }

  color: #161525;

  .dummy {
    height: 2em;
  }
  dl{
    dt{
      display: inline-block;
      margin: 0 0 0 0.2em;
      padding: 0;

    }
    dd{
      padding: 0;
      margin: 0.2em 0 0 0;
      float: left;
    }

  }

  //.add-family{
  //  margin-top: 1em;float:right;
  //
  //}
  .ui.buttons{
    margin-left: 32%;
  }

}

@media only screen and (max-width: 1200px) {
  .ui.steps .step:first-child {
    padding: 1.14285714em 2em;
    border-radius: .28571429rem .28571429rem 0 0;
  }
  .ui.steps {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    overflow: visible;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}