/* line 1, ../../app/assets/sass/guest.scss */
body {
  font-family: 'Droid Sans', sans-serif;
  font-size: 13px;
  background: none !important;
  color: #3f3f3f;
  height: inherit !important;
}

/* line 9, ../../app/assets/sass/guest.scss */
::selection {
  background-color: #2185d0;
  color: #fefefe;
}

/* line 14, ../../app/assets/sass/guest.scss */
.main-container {
  margin-top: 2em;
}

/* line 18, ../../app/assets/sass/guest.scss */
a:hover {
  color: #2185d0 !important;
}

/* line 22, ../../app/assets/sass/guest.scss */
html {
  background: url("/assets/images/back.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: inherit !important;
}

/* line 3, ../../app/assets/sass/login.scss */
.p-login {
  margin: 5em auto !important;
  width: 300px;
  text-align: center;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  position: relative;
  color: #161525;
}
/* line 10, ../../app/assets/sass/login.scss */
.p-login .segment {
  background: rgba(230, 240, 255, 0.93) !important;
  border: 2px dashed transparent;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}
/* line 25, ../../app/assets/sass/login.scss */
.p-login .input {
  max-width: 250px;
}
/* line 29, ../../app/assets/sass/login.scss */
.p-login h1 {
  margin-bottom: 1em;
}
/* line 33, ../../app/assets/sass/login.scss */
.p-login .login-btn {
  width: 250px;
}
/* line 37, ../../app/assets/sass/login.scss */
.p-login .create.account {
  color: #161525;
}
/* line 39, ../../app/assets/sass/login.scss */
.p-login .create.account:hover {
  color: #f6e7ff;
}
/* line 44, ../../app/assets/sass/login.scss */
.p-login .error-message {
  max-width: 250px;
  background-color: #ffe8e6;
  color: #db2828;
  position: relative;
  min-height: 1em;
  margin: 1em auto;
  padding: 1em 1.5em;
  line-height: 1.4285em;
  -webkit-transition: opacity .1s ease, color .1s ease, background .1s ease, box-shadow .1s ease;
  transition: opacity .1s ease, color .1s ease, background .1s ease, box-shadow .1s ease;
  border-radius: .28571429rem;
  box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.22) inset, 0 0 0 0 transparent;
}
/* line 46, ../../app/assets/sass/login.scss */
.p-login .error-message ul {
  margin: 0;
  padding: 0;
}
/* line 50, ../../app/assets/sass/login.scss */
.p-login .error-message ul li {
  list-style-type: none;
}
