/* line 1, ../../app/assets/sass/guest.scss */
body {
  font-family: 'Droid Sans', sans-serif;
  font-size: 13px;
  background: none !important;
  color: #3f3f3f;
  height: inherit !important;
}

/* line 9, ../../app/assets/sass/guest.scss */
::selection {
  background-color: #2185d0;
  color: #fefefe;
}

/* line 14, ../../app/assets/sass/guest.scss */
.main-container {
  margin-top: 2em;
}

/* line 18, ../../app/assets/sass/guest.scss */
a:hover {
  color: #2185d0 !important;
}

/* line 22, ../../app/assets/sass/guest.scss */
html {
  background: url("/assets/images/back.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: inherit !important;
}

/* line 3, ../../app/assets/sass/signup.scss */
.signup-container {
  width: 80%;
  margin: auto;
}

/* line 7, ../../app/assets/sass/signup.scss */
.raised.segment {
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  position: relative;
  background: rgba(230, 240, 255, 0.93) !important;
  border: 2px dashed transparent;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

/* line 21, ../../app/assets/sass/signup.scss */
.rf-footer {
  text-align: center;
}

/* line 25, ../../app/assets/sass/signup.scss */
.p-singup {
  margin: 3em auto 0 !important;
  color: #161525;
}
/* line 29, ../../app/assets/sass/signup.scss */
.p-singup .logo {
  text-align: center;
  margin: 2em auto;
  color: #005f81;
}
/* line 34, ../../app/assets/sass/signup.scss */
.p-singup .dividing.header {
  color: #005f81;
  margin-top: 2em;
}
/* line 41, ../../app/assets/sass/signup.scss */
.p-singup .dummy {
  height: 2em;
}
/* line 45, ../../app/assets/sass/signup.scss */
.p-singup dl dt {
  display: inline-block;
  margin: 0 0 0 0.2em;
  padding: 0;
}
/* line 51, ../../app/assets/sass/signup.scss */
.p-singup dl dd {
  padding: 0;
  margin: 0.2em 0 0 0;
  float: left;
}
/* line 63, ../../app/assets/sass/signup.scss */
.p-singup .ui.buttons {
  margin-left: 32%;
}

@media only screen and (max-width: 1200px) {
  /* line 70, ../../app/assets/sass/signup.scss */
  .ui.steps .step:first-child {
    padding: 1.14285714em 2em;
    border-radius: .28571429rem .28571429rem 0 0;
  }

  /* line 74, ../../app/assets/sass/signup.scss */
  .ui.steps {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    overflow: visible;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
